<script>
import axios from "axios";
import { ref, watch } from "vue";
import ModalBasic from "../../components/ModalBasic.vue";
import Order from "./OrdersTableItem.vue";

export default {
  name: "OrdersTable",
  components: {
    Order,
    ModalBasic,
  },
  props: ["selectedItems", "profiles"],
  emit: ["fetchProfiles"],
  setup(props, { emit }) {
    const selectAll = ref(false);
    const selected = ref([]);
    const dialogOpen = ref(false);
    const name = ref("");

    const checkAll = () => {
      selected.value = [];
      if (!selectAll.value) {
        selected.value = orders.value.map((order) => order.id);
      }
    };

    const createProfile = async () => {
      const token = localStorage.getItem("token_ad");
      const res = await axios.post(
        `${import.meta.env.VITE_API_BASE_URL}/profiles`,
        {
          name: name.value,
        },
        {
          headers: {
            Authorization: "Bearer " + token,
          },
        }
      );

      if (res) {
        dialogOpen.value = false;
        emit("fetchProfiles");
      }
    };

    watch(selected, () => {
      selectAll.value =
        orders.value.length === selected.value.length ? true : false;
      emit("change-selection", selected.value);
    });

    return {
      selectAll,
      selected,
      checkAll,
      dialogOpen,
      createProfile,
      name,
    };
  },
};
</script>

<template>
  <div class="bg-white shadow-lg rounded-sm border border-gray-200 relative">
    <header class="px-5 py-4 flex items-center justify-between">
      <h2 class="font-semibold text-gray-800">
        Mes profiles
        <span class="text-gray-400 font-medium">{{ profiles.length }}</span>
      </h2>

      <button
        class="btn bg-indigo-500 hover:bg-indigo-600 text-white"
        @click.stop="dialogOpen = true"
        type="button"
      >
        Ajouter un profile
      </button>
    </header>
    <div>
      <!-- Table -->
      <div class="overflow-x-auto">
        <table class="table-auto w-full divide-y divide-gray-200">
          <!-- Table header -->
          <thead
            class="text-xs font-semibold uppercase text-gray-500 bg-gray-50 border-t border-gray-200"
          >
            <tr>
              <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="font-semibold text-left">Nom</div>
              </th>
              <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                <div class="font-semibold text-left"></div>
              </th>
            </tr>
          </thead>
          <!-- Table body -->
          <Order
            v-for="profile in profiles"
            :key="profile.id"
            :profile="profile"
            v-model:selected="selected"
            :value="profile.id"
          />
        </table>
      </div>
      <ModalBasic
        id="feedback-modal"
        :modalOpen="dialogOpen"
        @close-modal="dialogOpen = false"
        title="Nouveau profile"
      >
        <!-- Modal content -->
        <div class="px-5 py-4">
          <div class="space-y-3">
            <div>
              <label class="block text-sm font-medium mb-1" for="name"
                >Nom <span class="text-red-500">*</span></label
              >
              <input
                id="name"
                class="form-input w-full px-2 py-1"
                type="text"
                v-model="name"
                required
              />
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="px-5 py-4 border-t border-gray-200">
          <div class="flex flex-wrap justify-end space-x-2">
            <button
              class="btn-sm border-gray-200 hover:border-gray-300 text-gray-600"
              @click.stop="dialogOpen = false"
            >
              Annuler
            </button>
            <button
              class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white"
              @click="createProfile"
            >
              Valider
            </button>
          </div>
        </div>
      </ModalBasic>
    </div>
  </div>
</template>
