<template>
  <div
    class="flex flex-col col-span-full sm:col-span-6 bg-white shadow-lg rounded-sm border border-gray-200"
  >
    <header class="px-5 py-4 border-b border-gray-100 flex items-center space-x-2">
      <h2 class="font-semibold text-gray-800">Détecteur de mensonge
      </h2>

      <span v-if="lastData == 1023" class="text-red-500 font-medium text-sm">Mensonge</span>
      <span v-else class="text-green-500 font-medium text-sm">Vérité</span>
    </header>
    <!-- Chart built with Chart.js 3 -->
    <!-- Change the height attribute to adjust the chart height -->
    <RealtimeChart :data="chartData" width="595" height="248" />
  </div>
</template>

<script>
import { computed, onMounted, onUnmounted, ref, watchEffect } from "vue";
import RealtimeChart from "../../charts/RealtimeChart.vue";
import Tooltip from "../../components/Tooltip.vue";
// Import utilities
import { hexToRGB, tailwindConfig } from "../../utils/Utils";

export default {
  name: "DashboardCard05",
  components: {
    Tooltip,
    RealtimeChart,
  },
  props :{
    listen: Boolean
  },
  emit: ["newData"],
  setup(props, { emit }) {

    watchEffect(() => {
      if(props.listen) {
        slicedData.value = []
        slicedLabels.value = []
      }
    })

    // IMPORTANT:
    // Code below is for demo purpose only, and it's not covered by support.
    // If you need to replace dummy data with real data,
    // refer to Chart.js documentation: https://www.chartjs.org/docs/latest

    const counter = ref(0);
    const range = ref(35);
    const lastData = ref(0)

    // Dummy data to be looped
    // const sampleData = [
    //   57, 57, 55, 54, 53, 52, 51, 52, 55, 56, 53, 56, 58, 55, 58, 55, 58, 60,
    //   61, 63, 65, 64, 65, 62, 60, 59, 55, 59, 53, 51, 50, 49, 48, 49, 47, 49,
    //   50, 52, 54, 53, 50, 58, 53, 57, 59, 59, 58, 59, 55, 57, 50, 56, 57, 53,
    //   55, 55, 53, 52, 50,
    // ];

    const slicedData = ref([]);

    const wss = new WebSocket("ws://localhost:3000");

    wss.onopen = (event) => {};

    wss.onmessage = (event) => {
    let msg = JSON.parse(event.data);
      // console.log(msg);
      switch (msg.type) {
        case "value":
        if (props.listen)
          onNewData(msg.data);
        break;
      }
    };

    // Generate fake dates from now to back in time
    const generateDates = () => {
      [];
    };

    const slicedLabels = ref([]);

    // Fake update every 2 seconds
    const interval = ref(null);
    onMounted(() => {
      interval.value = setInterval(() => {
        counter.value++;
      }, 2000);
    });
    onUnmounted(() => {
      clearInterval(interval);
    });

    // Loop through data array and update
    // watch(counter, () => {
    //   onNewData(sampleData[range.value]);
    // });

    const onNewData = (data) => {
      range.value++;
      if (range.value >= 50) {
        range.value = 0;
      }
      // slicedData.value.shift();
      slicedData.value.push(data);
      lastData.value = data

      emit("newData", { value: data, at: new Date() });

      // slicedLabels.value.shift();
      slicedLabels.value.push(new Date());
    };

    const chartData = computed(() => {
      return {
        labels: slicedLabels.value,
        options: {
          plugins: {
            tooltip: {
              enabled: false,
            },
          },
        },
        datasets: [
          {
            data: [...slicedData.value],
            fill: true,
            backgroundColor: `rgba(${hexToRGB(
              tailwindConfig().theme.colors.blue[500]
            )}, 0.08)`,
            borderColor: tailwindConfig().theme.colors.indigo[500],
            borderWidth: 2,
            tension: 0,
            pointRadius: 0,
            pointHoverRadius: 3,
            pointBackgroundColor: tailwindConfig().theme.colors.indigo[500],
            clip: 20,
          },
        ],
      };
    });

    return {
      counter,
      range,
      slicedData,
      slicedLabels,
      interval,
      chartData,
      lastData
    };
  },
};
</script>
