<script setup>
import { DateTime } from "luxon";
import { ref, onMounted, computed } from "vue";
import Datepicker from "../components/Datepicker.vue";
import DropdownClassic from "../components/DropdownClassic.vue";
import FilterButton from "../components/DropdownFilter.vue";
import DashboardAvatars from "../partials/dashboard/DashboardAvatars.vue";
import DashboardCard01 from "../partials/dashboard/DashboardCard01.vue";
import DashboardCard02 from "../partials/dashboard/DashboardCard02.vue";
import DashboardCard03 from "../partials/dashboard/DashboardCard03.vue";
import DashboardCard04 from "../partials/dashboard/DashboardCard04.vue";
import DashboardCard05 from "../partials/dashboard/DashboardCard05.vue";
import DashboardCard06 from "../partials/dashboard/DashboardCard06.vue";

import ProfilesTable from "../partials/orders/OrdersTable.vue";

import Sidebar from "../partials/Sidebar.vue";
import Header from "../partials/Header.vue";
import axios from "axios";

import { useRouter } from "vue-router";

const dataToSave = ref([]);
const profiles = ref([]);
const selectedProfile = ref();
const sessionStarted = ref(false);

const fetchProfiles = async () => {
  const token = localStorage.getItem("token_ad");
  const res = await axios.get(`${import.meta.env.VITE_API_BASE_URL}/profiles`, {
    headers: {
      Authorization: "Bearer " + token,
    },
  });

  if (res) {
    profiles.value = res.data;

    if (!selectedProfile.value) {
      selectedProfile.value = res.data[0];
    }
  }
};

onMounted(() => {
  fetchProfiles();
});

const sidebarOpen = ref(false);
const options = computed(() => {
  return profiles.value.map((p) => ({ name: p.name, id: p._id }));
});

const optionChanged = (option) => {
  const profile = profiles.value.find((p) => p._id === option.id);

  selectedProfile.value = profile;
};

const startSession = () => {
  dataToSave.value = [];
  sessionStarted.value = true;
};
const stopSession = () => {
  sessionStarted.value = false;
};

const saveSession = async () => {
  const token = localStorage.getItem("token_ad");

  const res = await axios.post(
    `${import.meta.env.VITE_API_BASE_URL}/profiles/${
      selectedProfile.value._id
    }/sessions`,
    { datas: dataToSave.value },
    {
      headers: {
        Authorization: "Bearer " + token,
      },
    }
  );

  if (res) {
    dataToSave.value = [];
    sessionStarted.value = false;
    fetchProfiles();
  }
};

const saveData = (data) => {
  if (sessionStarted.value) {
    dataToSave.value.push(data);
  }
};
</script>

<template>
  <div class="flex h-screen overflow-hidden">
    <!-- Sidebar -->
    <Sidebar :sidebarOpen="sidebarOpen" @close-sidebar="sidebarOpen = false" />

    <!-- Content area -->
    <div
      class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden"
    >
      <!-- Site header -->
      <Header
        :sidebarOpen="sidebarOpen"
        @toggle-sidebar="sidebarOpen = !sidebarOpen"
      />

      <main>
        <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
          <div class="mb-6">
            <h2 class="text-2xl text-gray-800 font-bold mb-3">
              Selectionez un profile
            </h2>
            <!-- Start -->
            <DropdownClassic
              @optionChanged="optionChanged"
              :options="options"
            />
          </div>
          <div class="flex space-x-2 mb-4">
            <button
              class="btn bg-indigo-500 hover:bg-indigo-600 text-white"
              @click="startSession"
              :class="{ 'opacity-50 hover:bg-indigo-500': sessionStarted }"
              type="button"
              :disabled="sessionStarted"
            >
              Commencer une session
            </button>
            <button
              class="btn bg-indigo-500 hover:bg-indigo-600 text-white"
              :class="{ 'opacity-50 hover:bg-indigo-500': !sessionStarted }"
              @click="stopSession"
              type="button"
              :disabled="!sessionStarted"
            >
              Arreter la session
            </button>
            <button
              class="btn bg-indigo-500 hover:bg-indigo-600 text-white"
              :class="{ 'opacity-50 hover:bg-indigo-500': !sessionStarted }"
              @click="saveSession"
              type="button"
              :disabled="!dataToSave.length"
            >
              Sauvegarder la session
            </button>
          </div>
          <!-- Cards -->
          <div class="grid grid-cols-12 gap-6 mb-10">
            <!-- Line chart (Real Time Value) -->
            <DashboardCard05 :listen="sessionStarted" @newData="saveData" />

            <div
              class="flex flex-col col-span-full sm:col-span-6 bg-white shadow-lg rounded-sm border border-gray-200"
            >
              <header
                class="px-5 py-4 border-b border-gray-100 flex items-center"
              >
                <h2 class="font-semibold text-gray-800">Données</h2>
              </header>
              <!-- Chart built with Chart.js 3 -->
              <!-- Change the height attribute to adjust the chart height -->
              <div
                class="p-3 flex flex-col overflow-y-auto"
                style="max-height: calc(331px - 57px)"
              >
                <div
                  v-for="(data, i) in dataToSave.reverse()"
                  :key="i"
                  class="flex items-center justify-between"
                >
                  <span>{{ data.value }}</span>
                  <!-- <span>{{ formatDate(data.at) }}</span> -->
                </div>
              </div>
            </div>

            <!-- Doughnut chart (Top Countries) -->
            <!-- <DashboardCard06 /> -->
          </div>
          <ProfilesTable @fetchProfiles="fetchProfiles" :profiles="profiles" />
        </div>
      </main>
    </div>
  </div>
</template>
